<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}" th:with="title=${'Token client'}">
<body>
<th:block layout:fragment="body">

    <div th:if="${user==null}">
        <p th:text="${'Please login below'}"></p>
        <p>
        <form method="post" th:action="@{/oauth2/authorization/muni}">
            <button class="btn btn-outline-primary" type="submit">Login MUNI</button>
        </form>
    </div>

    <div th:if="${user}">
        <p th:text="${'Token at the bottom'}"></p>
        <table class="table">
            <tbody>
            <tr>
                <th scope="row">name</th>
                <td th:text="${user.fullName}"></td>
            </tr>
            <tr>
                <th scope="row">email</th>
                <td th:text="${user.email}"></td>
            </tr>
            </tbody>
        </table>
        <th:block th:if="${issuerName=='MUNI'}">
            <p th:text="${'TOKEN:'}">text for muni</p>
            <a th:href="@{/token}" th:text="${'CLICK HERE FOR TOKEN'}">link</a>
        </th:block>
        <p>
        <form method="post" th:action="@{/logout}">
            <button class="btn btn-outline-primary" type="submit">Logout</button>
        </form>
    </div>

</th:block>
</body>
</html>